parameters:
  paths:
    - /source/src
  level: 8
  bootstrapFiles:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  scanDirectories:
    - phar:///source/vendor/libEasyUI.phar/src/
    - phar:///source/vendor/Slapper.phar/src/
  excludes_analyse:
    - source/vendor
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false