parameters:
	ignoreErrors:
	    -
	        message: "#^Parameter \\#1 \\$tag of method pocketmine\\\nbt\\\tag\\\CompoundTag::setTag() expects pocketmine\\\nbt\\\tag\\\NamedTag, pocketmine\\\nbt\tag\\\NamedTag\\|\\null given.$#"
	        count: 1
	        path: src/brokiem/snpc/manager/NPCManager.php
	    -
        	message: "#^Parameter \\#1 $buffer of method pocketmine\\\nbt\\\NBTStream::readCompressed() expects string, string\\|\\false given.$#"
        	count: 1
        	path: src/brokiem/snpc/manager/NPCManager.php
        -
            message: "#^Offset 0 does not exist on array(51 \\=\\> 'simplenpc:npc', 63 \\=\\> 'simplenpc:player', 48 \\=\\> 'simplenpc:wither…', 47 \\=\\> 'simplenpc:husk', 46 \\=\\> 'simplenpc:stray', 45 \\=\\> 'simplenpc:witch', 44 \\=\\> 'simplenpc:zombie…', 43 \\=\\> 'simplenpc:blaze', ...).$#"
            count: 1
            path: src/brokiem/snpc/manager/NPCManager.php
        -
            message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|\\false given.$#"
            count: 1
            path: src/brokiem/snpc/manager/form/FormManager.php
